* {
  box-sizing: border-box;
}

:root {
  font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1b2236;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1.75rem;
}

header > div {
  width: 90%;
  max-width: 737px;
}

header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: 0.25rem;
}

header h1,
header p {
  color: #fff;
  margin: 1rem 0;
}

header p {
  font-size: 1.5rem;
}


.container {
  padding: 3rem 1rem 1rem;
  position: relative;
  height: 20rem;
}

.game-container {
  background-color: #3d4d6a;
  border-radius: 10px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: fit-content;
}

.game-row {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.game-row:nth-child(3) {
  margin-bottom: 0;
}

.game-cell-btn {
  border: none;
  background-color: #202a42;
  border-radius: 10px;
  font-size: 2rem;
  width: 4.5rem;
  height: 4.5rem;
}

.gameover-message {
  color: #bd2f00;
  font-family: "Special Elite", system-ui, serif;
  font-size: 8rem;
  position: absolute;
  transform: rotate(-45deg);
}

.gameover-message.x {
  top: 54px;
  left: 27px;
}

.gameover-message.o {
  top: 45px;
  left: -7px;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.message {
  color: #fff;
  font-size: 1.5rem;
}

.game-cell-btn.player-o,
.message.player-o {
  color: #7fcb3d;
}

.game-cell-btn.player-x,
.message.player-x
 {
  color: #fe9c8e;
}

.reset-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
    border-radius: 40px;
  font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;
}