:root {
  font-family: "Fredoka", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1b2236;
}

header h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

header h1,
header p {
  color: #fff;
}

.game-container {
    background-color: #3d4d6a;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    margin: 0 auto;
}

.game-row {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.game-row:nth-child(3) {
  margin-bottom: 0;
}


.game-cell-btn {
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  background-color: #202a42;
  border-radius: 10px;
}

.message {
  color: #fff;
  font-size: 1.5rem;
}

.game-cell-btn.player-o,
.message.player-o {
  color: #7fcb3d;
}

.game-cell-btn.player-x,
.message.player-x
 {
  color: #fe9c8e;
}

.reset-btn {
  padding: 1em;
  width: 10rem;
  font-size: 1rem;
}